@use "../utils/mixins" as *;
@use "../utils/variables" as *;

// mobile
@media (max-width: 47.9375rem) {
  .main-header + hr {
    border: none;
    height: 1px;
    background-color: $c-light-gray;
    margin: 23px -24px 24px -24px;
  }

  .home-page {
    .grid-sizer {
      width: 100%;
    }

    .gallery-item {
      width: 100%;
      position: relative;
      cursor: pointer;
      margin-bottom: 24px;
    }

    .item-container {
      width: 100%;
    }

    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .gallery-img,
    button {
      display: block;
    }

    .gallery-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0)
      );
      transition: background-color 2s ease;
    }

    .gallery-item:hover::after {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0.49)
      );
    }

    .art-meta {
      position: absolute;
      z-index: 1;
      top: calc(100);
      left: 32px;
      text-align: left;
      transform: translateY(calc(-100% - 32px));
    }

    h2 {
      @include heading-two-desk-tab;
      color: white;
      margin-bottom: 7px;
    }

    .artist-name {
      @include s-heading-one;
      color: white;
      font-size: 1rem;
      opacity: 75.28%;
    }
  }
}

// tablet
@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .main-header + hr {
    border: none;
    height: 1px;
    background-color: $c-light-gray;
    margin: 27px -40px 40px -40px;
  }

  .home-page {
    .gallery-container {
      margin-left: -40px;
    }

    .grid-sizer {
      width: 50%;
    }

    .gallery-item {
      width: calc(50% - 40px);
    }

    .gallery-item {
      position: relative;
      cursor: pointer;
      margin-left: 40px;
      margin-bottom: 40px;
      box-sizing: border-box;
    }

    .item-container {
      width: 100%;
    }

    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .gallery-img,
    button {
      display: block;
    }

    .gallery-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0)
      );
      transition: background-color 2s ease;
    }

    .gallery-item:hover::after {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0.49)
      );
    }

    .art-meta {
      position: absolute;
      z-index: 1;
      top: calc(100);
      left: 32px;
      text-align: left;
      transform: translateY(calc(-100% - 32px));
    }

    h2 {
      @include heading-two-desk-tab;
      color: white;
      margin-bottom: 7px;
    }

    .artist-name {
      @include s-heading-one;
      color: white;
      font-size: 1rem;
      opacity: 75.28%;
    }
  }
}

// desktop
@media (min-width: 64rem) {
  .main-header + hr {
    border: none;
    height: 1px;
    background-color: $c-light-gray;
    margin: 40px 0 40px 0;
  }

  .home-page {
    .gallery-container {
      margin-left: -40px;
    }

    .grid-sizer {
      width: 25%;
    }

    .gallery-item {
      width: calc(25% - 40px);
    }

    .gallery-item {
      position: relative;
      cursor: pointer;
      margin-left: 40px;
      margin-bottom: 40px;
      box-sizing: border-box;
    }

    .item-container {
      width: 100%;
    }

    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .gallery-img,
    button {
      display: block;
    }

    .gallery-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0)
      );
      transition: background-color 2s ease;
    }

    .gallery-item:hover::after {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0.49)
      );
    }

    .art-meta {
      position: absolute;
      z-index: 1;
      top: calc(100);
      left: 32px;
      text-align: left;
      transform: translateY(calc(-100% - 32px));
    }

    h2 {
      @include heading-two-desk-tab;
      color: white;
      margin-bottom: 7px;
    }

    .artist-name {
      @include s-heading-one;
      color: white;
      font-size: 1rem;
      opacity: 75.28%;
    }
  }
}
