@font-face {
  font-family: "Libre Baskerville";
  src: url("../assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../assets/fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
}
